$backgroundColor: rgba(1, 137, 66, 0.9);
$chromeColor: rgba(52, 61, 78, 1);
$chromeColor2: white;
$chromeColor3: grey;
$bubbleColor: #FFFFFF;
$bubbleColor2: transparent;
$textColor: #fff;
$linkColor: #3498db;

.chatroom {
  width: 100%;
  height: 600px;
  color: $textColor;
  max-height: 90vh;
  font-size: 1em;
  background-color: $backgroundColor;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  letter-spacing: normal;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px rgba(white, 0.8);

  * {
    box-sizing: border-box;
  }

  &.closed {
    height: 40px;
  }

  h3 {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin: 0;
    height: 40px;
    padding-left: 5%;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 2%;
  }

  .chats {
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    height: calc(100% - 80px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .chat {
      position: relative;
      padding: 0.5em 1em;
      font-size: 1em;
      border-radius: 10px;
      list-style: none;
      float: left;
      clear: both;
      margin: 10px 0 0 0;
      max-width: 90%;

      img {
        max-width: 100%;
        vertical-align: middle;
      }

      &.left {
        color: #3c3c3c;
        background: $bubbleColor;
        border-bottom-left-radius: 0;
      }

      &.right {
        color: rgba(255, 255, 255, 0.7);
        background-color: $bubbleColor2;
        font-weight: 600;
        border: 1px solid #fff;
        float: right;
        clear: both;
        border-bottom-right-radius: 0;
      }

      .text {
        word-wrap: break-word;
      }

      &.chat-img {
        padding: 5px;
      }

      a {
        text-decoration: none;
        color: $linkColor;
      }

      ul,
      ol {
        margin: 0;
        padding-left: 1.5em;
      }
      ul li,
      ol li {
        padding-left: 0;
      }

      &.waiting {
        margin: 10px 0;
        background: transparent;
        padding: 0;

        @keyframes fade {
          from {
            opacity: 1;
          }

          to {
            opacity: 0.3;
          }
        }

        span {
          font-size: 1.5em;
          animation-name: fade;
          animation-duration: 0.8s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: ease-in-out;
        }
        span:nth-child(1) {
          animation-delay: 0s;
        }
        span:nth-child(2) {
          animation-delay: 0.4s;
        }
        span:nth-child(3) {
          animation-delay: 0.8s;
        }
      }
    }

    .time {
      list-style: none;
      clear: both;
      height: 10px;
      font-size: 10px;
      color: desaturate(green, 90%);
      margin: 5px 0 20px 0;

      &.left {
        float: left;
      }
      &.right {
        float: right;
      }
    }

    .custom-message {
      display: flex;
      position: relative;
      flex-direction: column;
      padding: 1em;
      margin-bottom: .5em;
      border-radius: 10px;
      box-shadow: 0 5px 5px #e9e9e9;

      .custom-minor {
        font-size: .7rem;
        color: #949494;
        max-width: 70%;
      }

      .custom-bigger {
        font-size: 1.2rem;
        font-weight: 600;
      }

      .custom-float {
        position: absolute;
        top: 33%;
        right: 5%;
        font-size: 0.8em;
        border-radius: 8px;
        padding: .5em;
        font-weight: 600;
        background-color: #FFCA04;
        text-align: center;

        .float-minor {
          font-weight: 600;
          font-size: .4em;
        }
      }
    }

    .custom-message:last-of-type {
      margin-bottom: 1em;
    }

    .custom-outside {
      font-size: .9em;
      color: #949494;
      text-align: left;

      .outside-high {
        color: #3c3c3c;
        font-size: 2em;
        font-weight: 500;
      }
    }

    .chat-buttons {
      position: relative;
      padding: 0;
      font-size: 14px;
      list-style: none;
      clear: both;
      margin: 10px 0;
      text-align: center;

      .chat-button {
        display: inline-block;
        transition: all 0.3s ease;
        cursor: pointer;
        margin: 3px;
        font-size: 1.2em;
        background-color: #FFCA04;
        color: #3c3c3c;
        font-weight: 600;
        border-radius: 45px;
        padding: .5em 1.5em;
        letter-spacing: normal;

        &:hover,
        &.chat-button-selected {
          background-color: rgba(#FFCA04, 0.6);
          color: $chromeColor2;
        }
        &.chat-button-disabled {
          background-color: rgba(#FFCA04, 0.6);
          color: $chromeColor3;
        }
      }
    }
  }

  .input {
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0 5px;
    background-color: #fff;
    box-shadow: 1px 5px 5px $backgroundColor;
    display: flex;
    flex-direction: row;
    align-items: center;

    input[type="text"] {
      background-color: rgba(white, 0.8);
      outline: 0;
      border: 1px solid #fff;
      border-right: none;
      color: #3c3c3c;
      padding: 0 5px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: 30px;
      flex: 4;
      box-sizing: border-box;
      font-size: 1em;
      transition: background-color 0.2s ease;

      &:focus {
        box-shadow: none;
        background-color: white;
      }
    }

    input[type="submit"] {
      display: inline-block;
      background: transparent;
      border: 1px solid $chromeColor2;
      color: $backgroundColor;
      height: 30px;
      min-width: 70px;
      line-height: 1;
      text-align: center;
      padding: 0;
      font-size: 1em;
      flex: 1;
      box-shadow: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      cursor: pointer;
      transition: all 0.3s ease;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      outline: none;

      &:hover {
        background: $bubbleColor;
      }
    }
  }

  #speech-input {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    background: #fff;
    border: none;
    font-size: 1em;
    border-right: 1px solid #ccc;
    color: $backgroundColor;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: $bubbleColor;
    }
  }

  .vertical-center {
    vertical-align: middle;
  }
}
